@import "../../../styles/settings.scss";
@import "../../../../node_modules/rfs/scss";

.divs {
  text-align: center;
  margin: 100px 0 250px;
  i {
    color: white;
    font-size: 50px;
    text-align: center;
    transition: 0.1s ease-in;
    cursor: pointer;

    &:hover {
      transform: scale(110%);
    }
  }
}

.aboutContainer {
  display: flex;
  padding-bottom: 100px;

  .aboutText {
    color: white;
    width: 60%;
    h2 {
      @include font-size(40px);
      margin-bottom: 25px;

      span {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5px;
          background-color: $secondColor;
          border-radius: 2.5px;
        }
      }
    }
    p {
      @include font-size(18px);

      span {
        color: $secondColor;
        font-size: 16px;
      }
    }
  }

  .aboutImage {
    width: 40%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .divs {
    text-align: center;
    margin: 50px 0 150px;
    i {
      color: white;
      font-size: 50px;
      text-align: center;
      transition: 0.1s ease-in;
      cursor: pointer;

      &:hover {
        transform: scale(110%);
      }
    }
  }

  .aboutContainer {
    .aboutText {
      color: white;
      width: 100%;
      h2 {
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center;
      }
    }

    .aboutImage {
      width: 100%;
    }
  }
}
