@import "../../../styles/settings.scss";

.socialsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $textColor;
margin-bottom: 100px;
  h2 {
    text-transform: uppercase;
  }

  p {
    span {
      color: $secondColor;
    }
  }

  .socialLinks {
    a {
        color: $textColor;
      i {
        font-size: 50px;
        border-radius: 50%;
        transition: 0.2s;

        &:hover {
          transform: scale(110%);
        }
      }
      i:last-child {
        margin-left: 15px;
      }
    }
  }
}
