.resumeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 26px;
  margin-bottom: 90px;

  .cv {
    color: white;
    text-decoration: none;
  }

  button {
    width: 200px
  }

  .resumeImg {
    text-align: center;
    margin: 50px;

    img {
      width: 100%;
    }
  }
}
