@import "../../../styles/settings.scss";

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 50px 15px 100px;
  margin-top: $navHeight;

  .headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    color: $textColor;

    h1 {
      font-size: 45px;
    }

    p {
      font-size: 50px;
      margin-bottom: 10px;

      span {
        color: $secondColor;
      }
    }
    .prof {
      text-transform: uppercase;
      font-size: 35px;
      margin-bottom: 0;
    }

    .tools {
      font-family: "Dancing Script", cursive;
      font-size: 22px;
      margin-left: 160px;
      color: rgb(163, 157, 157);
    }
  }

  .photoContainer {
    position: relative;
    text-align: right;
    width: 30%;
    padding: 0;

    .box {
      width: 400px;
      height: 400px;
      position: relative;

      .circle {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 350px;
        height: 350px;
        background: rgb(131, 175, 176);
        background: radial-gradient(
          circle,
          rgba(131, 175, 176, 1) 15%,
          rgba(0, 0, 0, 1) 80%,
          rgba(0, 0, 0, 1) 100%
        );
        overflow: hidden;
        border-radius: 50%;
        border: 6px solid #000;

        img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 450px;
        }
      }

      img {
        position: absolute;
        bottom: 0;
        left: 44%;
        transform: translateX(-50%);
        height: 450px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        z-index: 1;
        box-shadow: 0 100px 0 40px #2c3333;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 350px;
        width: 350px;
        border-radius: 50%;
        border: 6px solid black;
        border-top: 6px solid transparent;
      }
    }
  }
}

@media (max-width: 1200px) {
  .headerContainer {
    .headerText {
      h1 {
        font-size: 40px;
      }

      p {
        font-size: 40px;
        margin-bottom: 10px;

        span {
          color: $secondColor;
        }
      }
      .prof {
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .headerContainer {
    margin-top: 0;
    padding-top: 0;
    .headerText {
      width: 100%;
      h1 {
        font-size: 35px;
      }

      p {
        font-size: 35px;
        margin-bottom: 10px;

        span {
          color: $secondColor;
        }
      }
      .prof {
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 0;
      }

      .tools {
        margin: 0;
        margin-bottom: 20px;
      }
    }

    .photoContainer {
      display: flex;
      justify-content: center;
      width: 100%;

      .box {
        width: 250px;
        height: 400px;
        position: relative;
        overflow: hidden;

        .circle {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 250px;
          height: 250px;
          background-color: $secondColor;
          overflow: hidden;
          border-radius: 50%;
          border: 6px solid #000;

          img {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 450px;
          }
        }

        img {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 450px;
        }

        &::before {
          width: 250px;
          height: 250px;
        }

        &::after {
          height: 250px;
          width: 250px;
        }
      }
    }
  }
}
