@import "../../../styles/settings.scss";

.navigation {
  background-color: transparent;

  .logo {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1px;
    color: $secondColor;
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-left: 15px;

    .link {
      position: relative;
      color: $textColor;
      letter-spacing: 1px;
      font-size: 18px;
      font-weight: 500;
      overflow: hidden;
      margin-right: 10px;
      background: linear-gradient(
        to right,
        $secondColor,
        $secondColor 50%,
        white 50%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 275ms ease;

      &:hover {
        background-position: 0 100%;
      }

      span {
        margin-left: 5px;
      }
    }
  }
  i:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: $textColor;
    background: linear-gradient(
      to top,
      $secondColor,
      $secondColor 50%,
      white 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    transition: 275ms ease;

    &:hover {
      transform: scale(110%) translateY(-10%);
      background-position: 0 100%;
    }
  }
}

.bgNavbarNoBlur {
  transition: 0.3s;
  backdrop-filter: blur(0);
  background-color: rgba($color: transparent, $alpha: 0);
}

.bgNavbarBlur {
  transition: 0.1s;
  backdrop-filter: blur(8px);
  background-color: rgba($color: black, $alpha: 0.1);
  box-shadow: 0px 0.1px 10px black;
}

@media (max-width: 768px) {
  .navigation {
    background-color: rgba($color: #252b2b, $alpha: 0.99);
  }
}
