@function generate-random-stars($screen-width, $color, $density) {
  $h-shadow: random($screen-width);
  $v-shadow: random($screen-width);

  $stars: "#{$h-shadow}px #{$v-shadow}px #{$color}";
  @for $i from 2 through $density {
    $h-shadow: random($screen-width);
    $v-shadow: random($screen-width);

    $stars: "#{$stars}, #{$h-shadow}px #{$v-shadow}px #{$color}";
  }
  @return unquote($stars);
}

@mixin stars-content($screen-width, $color, $density, $speed, $delay) {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: generate-random-stars($screen-width, $color, $density);
  animation-name: glowing-stars;
  animation-duration: $speed + s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: $delay + s;
}

//Change colors for multi-colors star groups

#stars-group-1 {
  @include stars-content(2560, #fff, 200, 2, 0);
}

#stars-group-2 {
  @include stars-content(2560, #fff, 200, 3, 0.1);
}

#stars-group-3 {
  @include stars-content(2560, #fff, 200, 4, 0.2);
}

@keyframes glowing-stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
